$white: #fff;
$black: #000;
$textColor: #333;
$accentColor: #3caada;
// ToDo: replace $accentColor with variable below when the dashboard page was restyled.
//$accentColor: var(--base-color, #3caada);

$avatarBorderColor: #707070;
$avatarPositionColor: $white;
$avatarPositionAccent: #bacbd5;

$emptyMessageColor: #707070;
