.Badges {
    display: flex;
}

.BadgeItem {
    max-width: 48px;
    max-height: 42px;

    &:not(:last-child) {
        margin-right: 12px;

        .rtl & {
            margin: 0 0 0 12px;
        }
    }
}
