@import './variables';

.LeaderboardTitle {
    font-size: 36px;
    line-height: 49px;
    font-weight: 400;
    color: $textColor;
    margin: 0 0 24px;
    text-align: left;

    .rtl & {
        text-align: right;
    }
}
