@import "./variables";

.LeaderboardTable {
  width: 100%;
  display: flex;
  flex-direction: column;
  color: $textColor;
}

.LeaderboardTable-Separator {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 16px 0 24px;

  span {
    width: 8px;
    height: 8px;
    background: $accentColor;
    margin: 0 3px;
    border-radius: 50%;
  }
}
