@import "./variables";

.LeaderboardTable-Row {
  display: flex;
  background: $white;
  box-shadow: 0 1px 2px rgba($black, 0.15), 0 1px 4px rgba($black, 0.15);
  border-radius: 4px;
  padding: 17px 24px;
  margin-bottom: 8px;
  border: 1px solid transparent;
  border-left-width: 4px;

  .rtl & {
    border-left-width: 1px;
    border-right-width: 4px;
  }

  &_highlighted {
    border-color: $accentColor;
  }

  @media screen and (max-width: 768px) {
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

.LeaderboardTable-Cell {
  display: flex;
  align-items: center;

  &_student {
    width: 305px;
    flex-shrink: 0;
    align-items: flex-start;

    @media screen and (max-width: 768px) {
      width: calc(100% - 70px);
    }
  }

  &_progress {
    font-size: 16px;
    line-height: 22px;
    text-transform: uppercase;
    width: 180px;
    flex-shrink: 0;

    @media screen and (max-width: 768px) {
      width: auto;
      margin-left: auto;
      text-align: right;

      .rtl & {
        margin-left: 0;
        margin-right: auto;
      }
    }
  }

  &_badges {
    overflow: auto;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    color: $emptyMessageColor;

    @media screen and (max-width: 768px) {
      margin-top: 20px;
    }
  }
}

.StudentInfo {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: center;
}

.StudentInfo-Name {
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  text-transform: uppercase;
  word-break: break-word;
}

.StudentInfo-Status {
  font-size: 15px;
  line-height: 20px;
  margin-top: 2px;

  &:empty {
    display: none;
  }
}
