.form-control:focus ~ .pgn__form-control-floating-label .pgn__form-control-floating-label-text,
.form-control.has-value ~ .pgn__form-control-floating-label .pgn__form-control-floating-label-text {
  transform: translateY(-0.5625rem) scale(0.75) translateY(-65.0008%);
  background-color: $white;
}

.slick-dots button {
  text-shadow: none;
  box-shadow: none;
  border: 1px solid transparent;

  &:hover,
  &:focus {
    background-color: $white;
    background-image: none;
    border: 1px solid $accent-color;
    opacity: 0.8;
  }
}

.badge-info {
  background-color: $accent-color;

  &:hover {
    background-color: $accent-color;
  }
}

.slick-prev,
.slick-next {
  position: absolute;
}

.btn:not(.pgn__menu-select button, .btn-logo) {
  box-shadow: none;
  text-shadow: none;
  background: transparent;

  &.btn-outline-primary {
    border-color: $accent-color !important;
    color: $accent-color;

    &:hover,
    &:focus {
      background: $accent-color;
      color: $white;
    }

    &:focus:before {
      border-color: $accent-color;
    }
  }

  &.btn-tertiary:not(:disabled, .disabled) {
    color: $gray-700;
    border-color: transparent;

    &:hover,
    &:focus {
      background-color: $light-500;
    }
  }
}
