$space-20: var(--rgg-space-20, 1.25rem);
$space-30: var(--rgg-space-30, 1.875rem);
$accent-color: var(--rgg-accent-color, #3caada);
$main-text-color: var(--rgg-main-text-color, #bcbcbc);
$secondary-text-color: var(--rgg-secondary-text-color, #333);
$dropdown-item-padding-y: var(--rgg-dropdown-item-padding-y, 0.563rem);
$dropdown-item-padding-x: var(--rgg-dropdown-item-padding-x, 1.875rem);
$avatar-position-color: var(--rgg-avatar-position-color, $white);
$empty-message-color: var(--rgg-empty-message-color, $gray-500);
$avatar-border-color: var(--rgg-avatar-border-color, $gray-500);
$blue-text-color: var(--rgg-blue-text-color, $accent-color);
$blue-text-color-darken: var(--rgg-blue-text-color-darken, #2f85ab);
$statuses-progress-bg-color: var(--rgg-statuses-progress-bg-color, #dfe0e8);
$avatar-position-accent-color: var(--rgg-avatar-position-accent-color, #bacbd5);
$btn-logo-dropdown-base-color: var(--rgg-btn-logo-dropdown-base-color, #313131);
$statuses-progress-track-bg-color: var(--rgg-statuses-progress-track-bg-color, #556b2f);
$darkblue-transparent-bg-color: var(--rgg-darkblue-transparent-bg-color, rgba(69, 162, 214, 0.3));
$dashboard-page-corner-border-radius: var(--rgg-dashboard-page-corner-border-radius, 1.25rem);
$points-vault-img-size: var(--rgg-points-vault-img-size, 15.625rem);

// Override Paragon variables:
$font: var(--rgg-primary-font-family, "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif);
