.highcharts-menu {
  box-shadow: 0 -0.5rem 1rem $highcharts-menu-border-color, 0 -0.25rem 0.625rem $highcharts-menu-border-color !important;
  border: 1px solid $highcharts-menu-border-color !important;
  border-radius: 0.375rem !important;

  .highcharts-menu-item {
    font-size: $font-size-sm !important;
    padding: $highcharts-menu-dropdown-padding-y $highcharts-menu-dropdown-padding-x !important;
    color: #313131 !important;

    .rtl & {
      text-align: right;
    }

    &:hover {
      background-color: $highcharts-menu-item-hover-bg-color !important;
      color: $highcharts-menu-item-hover-text-color !important;
    }
  }
}
