.chart-holder {
  font-weight: $font-weight-normal;
  font-size: 12px;
  margin: 70px auto 55px;
  padding: 0;
  color: $main-text-color;
}

.chart-block {
  width: calc(50% - 1px);
  min-height: 400px;
  margin-bottom: 2px;
  background: rgba(255,255,255,0.1);
  padding: 15px;
  box-sizing: border-box;
  position: relative;

  &.full-width {
    width: 100%;
    margin-left: 0;
  }
}
