.progress-badges-list {
  display: flex;
  justify-content: space-around;
  flex: 0 0 7.188rem;
  margin-top: map-get($spacers, 6);

  @media screen and (max-width: map-get($grid-breakpoints, "lg")) {
    justify-content: space-between;
  }

  @media screen and (max-width: map-get($grid-breakpoints, "sm")) {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 2.5rem;
  }
}

.slider-statuses-block-description {
  font-size: 1rem;
  line-height: 1.25rem;
  color: $main-text-color;
  padding: $spacer 0.875rem map-get($spacers, 0);
  margin: map-get($spacers, 0);
}

.progress-badges-details-btn-wrapper {
  text-align: center;
  margin-top: 1.875rem;
}
