.dashboard-section-header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  margin: 0.313rem 0.875rem;

  h2.dashboard-section-header-title,
  .dashboard-section-header-status {
    font-family: $primary-font-family;
    color: $blue-text-color;
    font-size: 1.063rem;
    text-transform: uppercase;
    font-weight: $font-weight-bold;
    margin-bottom: 0.375rem;
    line-height: normal;
  }

  .dashboard-section-header-status {
    font-size: 1rem;
    text-transform: none;
  }

  .dashboard-section-header-description {
    color: $main-text-color;
    font-size: 1rem;
    font-weight: $font-weight-normal;

    &:empty {
      display: none;
    }
  }
}
