.row-block-item-popup {
  visibility: hidden;
  opacity: 0;
  transition: all 0.2s linear;
  position: absolute;
  top: 100%;
  min-width: 275px;
  left: 50%;
  transform: translateX(-50%);
  padding-top: $spacer;
  z-index: 10;

  &:before {
    content: "";
    width: 14px;
    height: 14px;
    background: $title-bg-color;
    position: absolute;
    top: 18px;
    left: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
    z-index: -1;
  }

  &[data-popper-placement="left"],
  &[data-popper-placement="top"],
  &[data-popper-placement="right"] {
    padding-top: 0;
  }

  &[data-popper-placement="left"] {
    padding-right: 16px;

    &:before {
      left: initial;
      right: 2px;
      top: 50%;
    }
  }

  &[data-popper-placement="top"] {
    padding-bottom: $spacer;

    &:before {
      top: initial;
      bottom: 2px;
    }
  }

  &[data-popper-placement="right"] {
    padding-left: $spacer;

    &:before {
      top: 50%;
      right: initial;
      left: 16px;
    }
  }

  .item-head {
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 600;
    color: $blue-text-color;
    background: $title-bg-color;
    padding: 20px;
    border-radius: 20px 20px 0 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    line-height: 15px;
  }

  .item-body {
    border: 2px solid $title-bg-color;
    border-top: none;
    padding: $spacer;
    background: $dark-bg-color;

    .list-item-dependency-title {
      color: $blue-text-color;
      margin: 18px 0 4px;
      text-align: left;
      padding-left: 40px;

      .rtl & {
        text-align: right;
      }
    }

    .item-list {
      list-style: none;
      margin: 0;
      padding: 0;

      .item-list-item {
        text-align: left;
        font-size: 16px;
        font-weight: $font-weight-light;
        color: $main-text-color;
        margin-bottom: 6px;
        line-height: normal;

        .rtl & {
          text-align: right;
        }

        &:last-child {
          margin-bottom: 0;
        }

        .list-item-counter-text {
          font-weight: $font-weight-bold;
          color: $blue-text-color;
          font-size: inherit;
          margin-right: 10px;
        }
      }
    }
  }
}
