.LeaderboardTable {
  width: 100%;
  display: flex;
  flex-direction: column;
  color: $secondary-text-color;
}

.LeaderboardTable-Separator {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: $spacer 0 24px;

  span {
    width: 8px;
    height: 8px;
    background: $accent-color;
    margin: 0 3px;
    border-radius: 50%;
  }
}
