.LeaderboardTable-Row {
  @include pgn-box-shadow(1, "down");

  display: flex;
  background: $white;
  border-radius: 4px;
  padding: 17px 24px;
  margin-bottom: 8px;
  border: 1px solid transparent;
  border-left-width: 4px;

  .rtl & {
    border-left-width: 1px;
    border-right-width: 4px;
  }

  &.LeaderboardTable-Row_highlighted {
    border-color: $accent-color;
  }

  @media screen and (max-width: map-get($grid-breakpoints, "md")) {
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

.LeaderboardTable-Cell {
  display: flex;
  align-items: center;

  &.LeaderboardTable-Cell_student {
    width: 305px;
    flex-shrink: 0;
    align-items: flex-start;

    @media screen and (max-width: map-get($grid-breakpoints, "md")) {
      width: calc(100% - 70px);
    }
  }

  &.LeaderboardTable-Cell_progress {
    font-size: 16px;
    line-height: 22px;
    text-transform: uppercase;
    width: 180px;
    flex-shrink: 0;

    @media screen and (max-width: map-get($grid-breakpoints, "md")) {
      width: auto;
      margin-left: auto;
      text-align: right;

      .rtl & {
        margin-left: 0;
        margin-right: auto;
      }
    }
  }

  &.LeaderboardTable-Cell_badges {
    overflow: auto;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    color: $empty-message-color;

    @media screen and (max-width: map-get($grid-breakpoints, "md")) {
      margin-top: 20px;
    }
  }
}

.StudentInfo {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: center;
}

.StudentInfo-Name {
  font-weight: $font-weight-bold;
  font-size: 16px;
  line-height: 22px;
  text-transform: uppercase;
  word-break: break-word;
}

.StudentInfo-Status {
  font-size: 15px;
  line-height: 20px;
  margin-top: 2px;

  &:empty {
    display: none;
  }
}
