.points-vault-section {
  display: flex;
  flex-direction: column;

  .points-vault {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
  }
}

.points-vault-img {
  color: $accent-transparent-bg-color; 
  width: $points-vault-img-size;
  height: $points-vault-img-size;
}

.points-vault-total {
  font-weight: $font-weight-bold;
  font-size: $font-size-sm;
  line-height: normal;
  text-transform: uppercase;
  color: $main-text-color;

  span {
    color: $accent-color;
    text-decoration: underline;
  }
}
