.progress-badges-list {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  justify-items: center;
  row-gap: 1.875rem;
  margin-top: map-get($spacers, 6);

  @media screen and (max-width: map-get($grid-breakpoints, "lg")) {
    grid-template-columns: repeat(3, 1fr);
  }

  @media screen and (max-width: map-get($grid-breakpoints, "sm")) {
    grid-template-columns: repeat(2, 1fr);
    margin-top: 2.5rem;
  }
}

.progress-badges-details-btn-wrapper {
  text-align: center;
  margin-top: 1.875rem;
}
