.slider-statuses-block .slider-statuses-block-item {
  padding: 1.875rem 2.188rem map-get($spacers, 0) !important;

  .slick-list {
    width: 92%;
    margin: map-get($spacers, 0) auto;
  }

  .slick-slide {
    position: relative;
  }

  .slick-arrow:before {
    display: none;
  }

  .slick-dots {
    position: static;
    margin-top: 4.25rem !important;

    li {
      margin: map-get($spacers, 0) !important;
    }

    @media screen and (max-width: map-get($grid-breakpoints, "lg")) {
      margin-top: map-get($spacers, 5) !important;
    }

    @media screen and (max-width: map-get($grid-breakpoints, "sm")) {
      margin-top: 1.75rem !important;
    }
  }

  .slick-prev,
  .slick-next {
    display: block !important;
    color: $black !important;
    width: 1.5rem !important;
    height: 1.5rem !important;
    opacity: 1 !important;
    top: 10rem !important;
  }

  .slick-disabled {
    opacity: 0.25 !important;
  }

  .slider-item-info-title {
    margin-bottom: 1.375rem;
    font-weight: $font-weight-bold;
    white-space: nowrap;
    text-overflow: ellipsis;
    text-transform: uppercase;
    overflow: hidden;
    width: 100%;
    display: block !important;
    text-align: center;
  }

  .slider-item {
    position: relative;
    display: flex !important;
    flex-direction: column;
    align-items: flex-end;
    height: 11rem;
    padding-top: 0.625rem;
    transform: translateX(-50%);

    &.with-progress {
      z-index: 1;
    }
  }

  .slider-item-info {
    display: flex !important;
    flex-direction: column;
    align-items: center;
    position: relative;
    margin-bottom: 0.75rem;
    width: 100%;
    transform: translateX(50%);
  }

  .slider-item-info-image {
    display: flex;
    align-items: center;
    height: 4.375rem;
    margin-bottom: $spacer;
    max-width: 6.25rem;

    & img {
      max-height: 100%;
      max-width: 100%;
    }
  }

  .slider-item-info-amount {
    font-size: 0.625rem;
  }

  .slider-item-info-icon {
    position: absolute;
    top: -0.625rem;
    overflow: visible;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
  }

  .slider-item-progress {
    position: relative;
    width: 100%;
    height: 0.5rem;
    background-color: $statuses-progress-bg-color;
  }

  .slider-item-progress-track {
    position: relative;
    background-color: $statuses-progress-track-bg-color;
    height: 100%;
    z-index: 9;
    left: -1px;
  }

  .slider-item-progress-track-end {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: -0.563rem;
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    background-color: $white;
    border: 0.25rem solid $statuses-progress-track-bg-color;
    cursor: pointer;
  }

  .slider-item-progress-end {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: -0.5rem;
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    background-color: $statuses-progress-bg-color;
  }

  .slick-slide:last-child .slider-item .slider-item-progress-end {
    z-index: 1 !important;
  }
}

&.tooltip {
  @include reset-text();
  @include font-size($tooltip-font-size);

  position: absolute;
  z-index: $zindex-tooltip;
  display: block;
  margin: $tooltip-margin;
  word-wrap: break-word;
  opacity: 0;

  &.show {
    opacity: $tooltip-opacity;
  }

  .arrow {
    position: absolute;
    display: block;
    width: $tooltip-arrow-width;
    height: $tooltip-arrow-height;

    &:before {
      content: "";
      position: absolute;
      border-color: transparent;
      border-style: solid;
    }
  }

  &.bs-tooltip-bottom {
    padding: $tooltip-arrow-height 0;

    .arrow {
      top: 0;

      &:before {
        bottom: 0;
        border-width: 0 ($tooltip-arrow-width * 0.5) $tooltip-arrow-height;
        border-bottom-color: $tooltip-arrow-color;
      }
    }
  }

  .tooltip-inner {
    @include border-radius($tooltip-border-radius);

    max-width: $tooltip-max-width;
    padding: $tooltip-padding-y $tooltip-padding-x;
    color: $tooltip-color;
    text-align: center;
    background-color: $tooltip-bg;
  }
}
