.badge-list {
  width: 100%;
  display: flex;

  @media screen and (max-width: map-get($grid-breakpoints, "md")) {
    margin-top: $spacer;
  }
}

.badge-item {
  max-width: 3rem;
  max-height: 2.625rem;

  &:not(:last-child) {
    @extend .mr-2;
  }
}
