.leaderboard-table {
  width: 100%;
  display: flex;
  flex-direction: column;
  color: $secondary-text-color;
}

.leaderboard-table-separator {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: $spacer map-get($spacers, 0) map-get($spacers, 4);

  span {
    width: 0.5rem;
    height: 0.5rem;
    background: $accent-color;
    margin: map-get($spacers, 0) 0.1875rem;
    border-radius: 50%;
  }
}
