.btn:not(.pgn__modal-body button, .pgn__menu-select button, .btn-logo) {
  color: $accent-color;
  background: transparent;
  border: 2px solid $accent-color !important;
  display: inline-block;
  min-width: 84px;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 600;
  box-shadow: none;
  line-height: normal;
  padding: 7px 5px 6px;
  transition: all 0.15s linear;
  border-radius: 15px !important;
  text-align: center;
}

.btn:not(.pgn__modal-body button, .pgn__menu-select button, .btn-logo):hover {
  background: $accent-color !important;
  color: $white !important;
}
