.logo-dropdown {
  .logo-dropdown-img {
    margin-right: map-get($spacers, 2);
    cursor: pointer !important;
  }

  .btn-logo {
    padding: map-get($spacers, 0);
    border: none !important;
    color: $btn-logo-dropdown-base-color !important;
    background: none;
    box-shadow: none;

    @media screen and (max-width: map-get($grid-breakpoints, "sm")) {
      order: 1;
      margin-bottom: 0.313rem;
    }

    &:active,
    &:focus,
    &:hover {
      color: $btn-logo-dropdown-base-color;
      background: none !important;
      border: none;
      box-shadow: none;
    }
  }

  .dropdown-menu {
    @include pgn-box-shadow(3, "up");

    right: -0.625rem !important;
    top: 0.438rem !important;
    min-width: 0;
    position: relative;

    a {
      color: $btn-logo-dropdown-base-color;
      padding: $dropdown-item-padding-y $dropdown-item-padding-x;
      font-size: $font-size-sm;

      &:hover {
        text-decoration: none;
        color: $white;
        background: $blue-text-color;
      }
    }

    &:before {
      content: "";
      display: inline-block;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 0 0.625rem 0.625rem;
      border-color: transparent transparent $white;
      position: absolute;
      right: 0.813rem;
      top: -0.625rem;
    }
  }
}
