.gamification-modal-dialog {
  .pgn__modal-header {
    padding: 1.25rem 1.5rem $spacer !important;

    .pgn__modal-title {
      color: $secondary-text-color;
    }
  }

  .pgn__modal-body-content {
    .pgn__form-label {
      font-size: 12px;
      margin-bottom: 0;
    }

    .pgn__menu-select button {
      border: 1px solid $select-btn-border-color !important;
      border-radius: 3px;
      font-size: 14px;
      color: $secondary-text-color;
      width: 100%;
      max-width: none;
      justify-content: space-between;
      text-shadow: none;
      box-shadow: none;
      background: none;

      &[aria-expanded="true"] svg {
        transform: rotate(180deg);
      }

      &:active,
      &:focus,
      &:hover {
        background: none;
        border: none;
        box-shadow: none;
      }

      &:focus:before {
        display: none;
      }
    }

    .pgn__menu-item {
      width: 100%;
      max-width: none;

      &:hover {
        background: #f2f0ef;
      }
    }

    .pgn__menu-select-popup,
    .pgn__menu-select-popup > div {
      width: 100%;
    }

    .pgn__form-control-decorator-group {
      margin-inline-end: 0;
    }

    textarea.form-control {
      height: 122px;
      font-style: normal;
    }

    .pgn__form-control-floating-label-text {
      color: $secondary-text-color;
      font: 400 $font-weight-normal 14px/1.2 "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    }
  }

  .modal-buttons .btn {
    text-shadow: none;
    box-shadow: none;

    &.btn-primary:focus:before {
      border-color: $blue-text-color;
      opacity: 0.2;
    }

    &.btn-tertiary {
      background: none;
      color: $gray-700;

      &:hover,
      &:active,
      &:focus {
        background: #e1dddb !important;
        border-color: #e1dddb !important;
      }
    }
  }
}
