@import 'table-colors.scss';

.leaderboard-table {
    width: 100%;
    display: block;
}

.leaderboard-header, .leaderboard-row {
    display: flex;
    flex-direction: row;
    align-items: stretch;
}

.leaderboard-header {
    color: $headerFontColor;
    background-color: $headerBackgroundColor;
    border-radius: 20px 20px 0 0;
    text-transform: uppercase;
    text-align: center;
    padding: 10px;
    margin: 0 0 2px 0;
    font-weight: 900;
}

.table-cell {
    padding: 0.5rem;

    &.badges-cell {
        padding-bottom: 0;
    }
}

.leaderboard-header-cell {
    padding: 10px;
    color: $headerFontDark;
    font-weight: 700;
}

.leaderboard-table-cell {
    margin: 0;
}

.leaderboard-header {
    .progress-cell {
        border-left: 1px solid $headerBorderColor;
        border-right: 1px solid $headerBorderColor;
    }
}

.students-cell {
    // flex-grow: 2;
    width: calc((100% - 185px) / 2);
}

.progress-cell {
    // flex-grow: 1;
    width: 185px;
}

.badges-cell {
    // flex-grow: 3;
    width: calc((100% - 185px) / 2);
}
