.gamification-title-wrapper {
  margin-bottom: map-get($spacers, 4);

  @media screen and (max-width: map-get($grid-breakpoints, "sm")) {
    flex-direction: column;
    align-items: flex-start !important;
  }

  h1 {
    font-size: 2.25rem;
    line-height: 3.063rem;
    font-weight: $font-weight-normal;
    color: $secondary-text-color;
    text-align: left;

    .rtl & {
      text-align: right;
    }

    &[tabindex="-1"]:focus {
      outline: auto;
    }

    @media screen and (max-width: map-get($grid-breakpoints, "sm")) {
      font-size: 1.625rem;
    }

    @media screen and (max-width: map-get($grid-breakpoints, "sm")) {
      order: 2;
    }
  }
}
