.gamification-title-wrapper {
  margin-bottom: 24px;

  @media screen and (max-width: map-get($grid-breakpoints, "xs")) {
    flex-direction: column;
    align-items: flex-start !important;
  }

  h1 {
    font-size: 36px;
    line-height: 49px;
    font-weight: $font-weight-normal;
    color: $secondary-text-color;
    text-align: left;

    .rtl & {
      text-align: right;
    }

    &[tabindex="-1"]:focus {
      outline: auto;
    }

    @media screen and (max-width: map-get($grid-breakpoints, "sm")) {
      font-size: 26px;
    }

    @media screen and (max-width: map-get($grid-breakpoints, "xs")) {
      order: 2;
    }
  }
}
