$space-20: var(--rgg-space-20, 1.25rem);
$space-30: var(--rgg-space-30, 1.875rem);
$accent-color: var(--rgg-accent-color, #3caada);
$dark-bg-color: var(--rgg-dark-bg-color, #383838);
$title-bg-color: var(--rgg-title-bg-color, #495860);
$main-text-color: var(--rgg-main-text-color, #bcbcbc);
$title-text-color: var(--rgg-title-text-color, #232323);
$secondary-text-color: var(--rgg-secondary-text-color, #333);
$dropdown-item-padding-y: var(--rgg-dropdown-item-padding-y, 0.563rem);
$dropdown-item-padding-x: var(--rgg-dropdown-item-padding-x, 1.875rem);
$avatar-position-color: var(--rgg-avatar-position-color, $white);
$empty-message-color: var(--rgg-empty-message-color, $gray-500);
$avatar-border-color: var(--rgg-avatar-border-color, $gray-500);
$blue-text-color: var(--rgg-blue-text-color, $accent-color);
$blue-text-color-darken: var(--rgg-blue-text-color-darken, #2f85ab);
$statuses-progress-bg-color: var(--rgg-statuses-progress-bg-color, #dfe0e8);
$avatar-position-accent-color: var(--rgg-avatar-position-accent-color, #bacbd5);
$btn-logo-dropdown-base-color: var(--rgg-btn-logo-dropdown-base-color, #313131);
$highcharts-menu-item-bg-color: var(--rgg-highcharts-menu-item-bg-color, #0083bd);
$highcharts-menu-item-hover-text-color: var(--rgg-highcharts-menu-item-hover-text-color, $white);
$highcharts-menu-dropdown-padding-y: var(--rgg-highcharts-menu-dropdown-padding-y, $dropdown-item-padding-y);
$highcharts-menu-dropdown-padding-x: var(--rgg-highcharts-menu-dropdown-padding-x, $dropdown-item-padding-x);
$highcharts-menu-border-color: var(--rgg-highcharts-menu-border-color, rgba($black, 0.15));
$statuses-progress-track-bg-color: var(--rgg-statuses-progress-track-bg-color, #556b2f);
$select-btn-border-color: var(--rgg-select-btn-border-color, $secondary-text-color);
$darkblue-transparent-bg-color: var(--rgg-darkblue-transparent-bg-color, rgba(69, 162, 214, 0.3));
$dashboard-table-corner-border-radius: var(--rgg-dashboard-table-corner-border-radius, 1.25rem);
