button:not(.close-window-button) {
  letter-spacing: normal;

  &:hover {
    background-image: none !important;
  }
}

.form-control:focus ~ .pgn__form-control-floating-label .pgn__form-control-floating-label-text,
.form-control.has-value ~ .pgn__form-control-floating-label .pgn__form-control-floating-label-text {
  transform: translateY(-0.5625rem) scale(0.75) translateY(-65.0008%);
  background-color: $white;
}

.btn-primary,
.btn-primary:disabled,
.btn-primary.disabled {
  background-color: $blue-text-color;
  border-color: $blue-text-color;

  &:hover,
  &:active,
  &:focus {
    background: $blue-text-color-darken !important;
    border-color: $blue-text-color-darken !important;
  }
}
