@import 'dashboard-colors.scss';


.dashboard-modal-window-title-bar {
    background-color: $titleBackgroundColor;
    display: flex;
    justify-content: center;
    border-radius: 20px 20px 0 0;
    padding: 18px 48px;
    position: relative;
    margin-bottom: 2px;

    @media screen and (max-width: 479px) {
        justify-content: flex-start;
        padding: 18px 20px;

        .rtl & {
            justify-content: flex-end;
        }
    }

    .title {
        color: $titleTextColor;
        font-weight: 700;
        font-size: 16px;
        text-transform: uppercase;
    }

    .counter {
        position: absolute;
        right: 38px;
        top: 50%;
        transform: translateY(-50%);
        color: $mainTextColor;
        font-size: 12px;

        @media screen and (max-width: 479px) {
            right: 20px;
        }

        .rtl & {
            right: initial;
            left: 38px;
            display: flex;
            flex-direction: row-reverse;

            span:first-child {
                margin-left: 3px;
            }

            @media screen and (max-width: 479px) {
                left: 20px;
            }
        }

        span {
            &:first-child {
                margin-right: 3px;
            }

            &:last-child {
                font-weight: 700;
            }
        }
    }
}

.dashboard-modal-window-items-list {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap;
    max-height: 80vh;
    overflow: auto;
    min-height: 450px;
    padding: 10px;
    background-color: $darkBackgroundColor;
    border-radius: 0 0 20px 20px;

    .rtl & .row-block-item-popup .item-head {
        justify-content: flex-end;
    }
}
