@import 'dashboard-colors.scss';


.dashboard-table {
    font-weight: 400;
    font-size: 12px;
    margin: 70px auto 55px;
    padding: 0;
    color: $mainTextColor;

    &-body {
        overflow: hidden;
    }
}
