@import "dashboard-colors";

.table-row-block-header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  margin: 5px 14px;

  .table-row-block-title,
  .table-row-block-status {
    color: $blueTextColor;
    font-size: 17px;
    text-transform: uppercase;
    font-weight: 600;
    margin-bottom: 6px;
    line-height: normal;
  }

  .table-row-block-status {
    font-size: 16px;
    text-transform: none;
  }

  .table-row-block-description {
    color: $mainTextColor;
    font-size: 16px;
    font-weight: 300;
    margin-top: 20px;
  }

  .table-row-block-description:empty {
    display: none;
  }
}
