@import 'dashboard-colors.scss';


.dashboard-table-row-block {
    width: calc(50% - 1px);
    min-height: 400px;
    margin-bottom: 2px;
    background: $whiteTintedBackgroundColor;
    padding: 15px;
    box-sizing: border-box;
    position: relative;

    @media screen and (max-width: 991px) {
        width: 100%;
    }

    @media screen and (max-width: 479px) {
        padding: 15px 10px;
    }

    &.full-width {
        width: 100%;
    }

    &.top-left {
        border-radius: 20px 0 0 0;

        @media screen and (max-width: 991px) {
            border-radius: 20px 20px 0 0;
        }
    }

    &.top-right {
        border-radius: 0 20px 0 0;

        @media screen and (max-width: 991px) {
            border-radius: 0;
        }
    }

    &.bottom-left {
        border-radius: 0 0 0 20px;
    }

    &.bottom-right {
        border-radius: 0 0 20px 0;
    }

    &.bottom {
        border-radius: 0 0 20px 20px;
    }
}

.dashboard-table-row-block::before {
    content: "";
    display: block;
    width: calc(100% - 60px);
    height: 2px;
    background: $darkblueTransparentBackgroundColor;
    position: absolute;
    left: 30px;
    top: 45px;
}

.dashboard-table-row-block+.dashboard-table-row-block {
    margin-left: 2px;

    @media screen and (max-width: 991px) {
        margin-left: 0;
    }
}
